$transDarkBlue: rgba(0, 34, 60, 0.8);
$darkBlue: rgb(28, 42, 48);
$fontColor_white: white;
$background_white: white;
$background_transBlack:rgba(17, 17, 17, 0.62);
$blue: #007bff;
$black: #000;
$gray: #777;
$font-10: 10px !important;
$font-12: 12px !important;
$font-14: 14px !important;
$font-16: 16px !important;
$font-18: 18px !important;
$font-20: 20px !important;
$font-22: 22px !important;
$font-24: 24px !important;