$transDarkBlue: rgba(0, 34, 60, 0.8);
$darkBlue: rgb(28, 42, 48);
$fontColor_white: white;
$background_white: white;
$background_transBlack:rgba(17, 17, 17, 0.62);
$blue: #007bff;
$black: #000;
$gray: #777;
$fontXS: 12px;
$fontCS: 14px;
$fontSM: 16px;
$fontMD: 18px;
$fontLG: 20px;
$fontXL: 22px;
